.desk {
    display: none;
}

.main {
    &__wrapper {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 66px;
        background: url(../../assets/img/main/main-bg.png);
        background-size: cover;
        box-sizing: border-box;
    }
    &__inner {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }
    &__line {
        width: 100%;
        height: 3px;
        margin: 0;
        background: #FFFFFF;
        border: none;
        border-radius: 2px;
        box-sizing: border-box;
        &--desk {
            display: none;
        }
    }
    &__title {
        width: 270px;
        margin: 48px auto 0;
        @include font(Arimo, normal, 400, 24px, 28px, #ffffff);
        text-align: center;
    }
}

.present {
    &__title {
        @include font(Arimo, normal, 700, 24px, 28px, #ffffff);
        text-align: right;
    }
    &__user {
        width: 40px;
        height: 40px;
        margin-left: 7px;
    }
}

.form {
    margin: 56px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__label {
        margin: 0 18px 0 auto;
        @include font(Arimo, normal, 400, 18px, 21px, #ffffff);
    }
    &__inner {
        position: relative;
    }
    &__inner>img {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 25px;
        left: 18px;
        cursor: pointer;
    }
    &__input {
        width: 330px;
        height: 40px;
        margin: 12px 0 55px;
        padding: 0 20px;
        @include font(Arimo, normal, 700, 18px, 21px, #B1B1B1);
        text-align: right;
        background: #FFFFFF;
        border: none;
        border-radius: 30px;
        outline: none;
        box-sizing: border-box;
    }
    &__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    &__link {
        width: 156px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(Arimo, normal, 400, 18px, 21px, #ffffff);
        text-decoration: none;
        background: #C4C4C4;
        border-radius: 35px;
        box-sizing: border-box;
    }
    &__link>img {
        margin-right: 11px;
    }
    &__submit {
        background: #009C41;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 1190px) {}