module.exports = {
  app: { baseName: 'main-page' },
  html: {
    tmp: './app/src/pages/main/html/*.html',
    src: './app/src/pages/main/index.html'
  },
  sass: {
    tmp: './app/src/pages/main/scss/**/*.scss',
    src: './app/src/pages/main/scss/style.scss'
  },
  js: {
    src: './app/src/pages/main/js/*.js'
  },
  buildLocations: {
    html: './app/build/main/',
    css: './app/build/main/css',
    js: './app/build/main/js'
  }
};