module.exports = {
  app: { baseName: 'login' },
  html: {
    tmp: './app/src/pages/login/html/*.html',
    src: './app/src/pages/login/index.html'
  },
  sass: {
    tmp: './app/src/pages/login/scss/**/*.scss',
    src: './app/src/pages/login/scss/style.scss'
  },
  js: {
    src: './app/src/pages/login/js/*.js'
  },
  buildLocations: {
    html: './app/build/login/',
    css: './app/build/login/css',
    js: './app/build/login/js'
  }
};