@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main";
.main-wrapper {
    background: #ffffff;
}

.container {
    width: 100%;
    margin: 0 auto;
}